* {
  font-family: "PPHatton";
}
.background {
  background-image: url("../Images/Profile & Community.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.heading {
  font-family: "PPHatton";
  font-weight: bold;
  font-size: 45px;
}
.sub-heading {
  font-family: "PPHatton";
  font-weight: bold;
  font-size: 28px;
}
.section {
  font-family: "PPHatton";
  font-weight: bold;
  font-size: 35px;
}
.paragraph {
  font-family: "PPHatton";
  font-weight: Ultralight;
  font-size: 32px;
}
