@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family:'PPHatton'
}
.heroSectionHeading{
    font-size: 50px;
    font-weight: bold;
}
.mainHeading{
    font-size:45px;
    font-weight:bold;
}
.subHeading{
    font-size:25px;
    font-weight:bold;
}
.paragraph{
   font-size:32px;
}
/* Profile Page Font */
.profileHeading{
    font-size: 35px;
    font-weight: bold;
}
.profileSubHeading{
    font-size: 20px;
    font-weight: bold;
}
/* Story Page Font */
.storyParagraph{
    font-size: 25px;
   
}

.footer{
    font-size: 24px;
}